/* src/componentes/Rodape/index.js */

.footer {
  background: #5D95E1;
  color: #FFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
  font-weight: 700;
}

p {
  margin-right: 35px;
}

img {
  margin-left: 25px;
}

.sociais img:hover {
  width: 40px;
}

.footer ul li {
  display: inline-block;
  margin-right: 32px;
}

.footer ul li:last-child {
  margin-right: 0;
}