.botao {
  background-color: #6278f7;
  border-radius: 10px;
  font-weight: 700;
  font-size: 22px;
  padding: 35px;
  border: none;
  cursor: pointer;
  color: #ffffff;
  margin: 100px 32px 10px 0px;
  transition: 0.9s;
  width: 250px;
  transition: 1s;
  box-sizing: border-box;
  transition: all 1s ease;
}

.botao:hover {
  background-color: #9e50f7;
  width: 95%;
  margin: 100px 32px 10px 0px;
}
